@import url('https://fonts.googleapis.com/css?family=McLaren&display=swap');

.add-article-container {
  margin: 30px 0;
  width: 65%;
  min-width: 600px;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px 0;

    font-family: 'McLaren', cursive;
    font-size: 32px;
    line-height: '1.3333';
  }

  .article-image {
    margin: 20px 0;
  }

  .article-content {
    margin: 20px 0;
  }

  .submit-button {
    float: right;
  }
}
