<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tk.traiders">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".components.portfolio.CreatePortfolioActivity"></activity>
        <activity android:name=".components.investment.MakeInvestmentActivity" />
        <activity
            android:name=".components.markets.ParityDetailsActivity"
            android:label="Parity Details" />
        <activity
            android:name=".ui.profile.avatars.ChooseAvatarActivity"
            android:label="Choose Avatar" />
        <activity android:name=".components.equipment.ViewEquipmentActivity" />
        <activity
            android:name=".components.article.ViewArticleActivity"
            android:label="Article" />
        <activity
            android:name=".components.article.WriteArticleActivity"
            android:label="Write Article" />
        <activity android:name=".LocationActivity" />
        <activity
            android:name=".SignUpActivity"
            android:label="Your credentials" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCFb0EtvJaBvRSHRwO6KzN-9nxG2bIpMFE" />
    </application>

</manifest>