.investment-part {
  display: flex;
  flex-direction: column;

  .ant-table-title {
    background-color: white;
  }

  .ant-table-row {
    background-color: white;
  }

  .make-investment {
    display: flex;
    justify-content: flex-end;

    .manual-investment {
      align-items: center;

      padding-bottom: 10px;
    }

    .online-investment {
      align-items: center;
    }
  }
}
