.main-div {
  width: 100%;

  .article-page-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0 30px;

    .article-container {
      min-width: 800px;
      max-width: 800px;

      padding: 10px 20px;

      .article-title {
        display: flex;
        justify-content: center;

        font-family: medium-content-title-font, Georgia, Cambria,
          'Times New Roman', Times, serif;
        font-weight: 25;
        font-size: 40px;
        color: black;
      }

      .article-header {
        display: flex;
        justify-content: space-between;
        height: 52px;

        .header-left-part {
          .user-related {
            display: flex;
            justify-content: space-between;
            width: 220px;

            color: rgba(0, 0, 0, 0.84);
            font-weight: 300;
            font-size: 16px;
            font-family: medium-content-sans-serif-font, 'Lucida Grande',
              'Lucida Sans Unicode', 'Lucida Sans', Geneva, Arial, sans-serif;

            .author-username {
              color: blue;

              &:hover {
                cursor: pointer;
              }
            }
          }

          .article-related {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 220px;

            font-size: 12px;
            font-weight: 300;
            color: rgba(0, 0, 0, 0.54);
            font-family: medium-content-sans-serif-font, 'Lucida Grande',
              'Lucida Sans Unicode', 'Lucida Sans', Geneva, Arial, sans-serif;

            .ant-btn {
              height: 24px;
            }
          }
        }

        .header-right-part {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .ant-btn {
            height: 24px;
          }
        }
      }

      .article-image-container {
        display: flex;
        justify-content: center;

        padding: 20px 0;

        .article-image {
          width: 100%;
        }
      }

      .article-content {
        white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
        white-space: -pre-wrap; /* Opera */
        white-space: -o-pre-wrap; /* Opera */
        white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
        word-wrap: break-word;

        margin-top: 20px;

        font-size: 21px;
        font-family: medium-content-serif-font, Georgia, Cambria,
          'Times New Roman', Times, serif;
        color: rgba(0, 0, 0, 0.84);
        font-weight: 400;
      }

      .comment-header-div {
        background-color: #001529;

        .comment-header {
          color: white;
          font-family: medium-content-serif-font, Georgia, Cambria,
            'Times New Roman', Times, serif;
          text-align: center;
        }
      }
    }

    .annotation-container {
      width: 400px;

      border-left: 1px solid gray;
    }
  }
}
