.image-add-annotation-container {
  margin: 10px;
  width: 240px;

  .add-annotation-container {
    .add-annotation-title {
      margin-bottom: 4px;
    }

    .annotation-submit-button {
      margin: 4px 0;
    }
  }

  .add-annotation-image {
    margin: 4px 0;
  }
}
