.navbar-container {
  .ant-layout-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-color: #85bb65;

    padding-right: 100px;

    .ant-input-search {
      min-width: 100px;
    }

    .logo {
      align-items: center;
      padding: 7px 14px;
      margin-right: auto;
      justify-content: flex-start;
      justify-self: start;
    }

    .ant-menu {
      background-color: #85bb65;
    }

    .buttons {
      display: flex;

      .profile-button {
        position: relative;
        display: inline-block;
      }

      .notification {
        position: absolute;
        z-index: 10;
        top: 10px;
        right: 240px;
        color: white;
        background: rgb(7, 104, 184);
        border-radius: 2px;
      }
    }
  }
}
