.navbar-container {
  .ant-layout-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-color: #85bb65;

    padding-right: 100px;

    .ant-menu {
      background-color: #85bb65;
    }
  }
}
