.user-header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 160px;
  background-color: rgb(119, 124, 119);
  padding: 12px;

  border-radius: 4px;

  margin-bottom: 30px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;

  .left-up {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    width: 110%;

    .avatar {
      cursor: pointer;
    }

    .info {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      pointer-events: none;
      padding-left: 20px;
    }
  }

  .left-down {
    display: flex;
    flex-direction: row;

    align-self: flex-end;
  }
}

.right {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;

  .right-up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70px;
  }

  .right-down {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70px;

    .update-link {
      color: black;
    }
  }
}
