.comment-container {
  border-top-style: double;
  border-bottom-style: double;

  .own-part {
    margin-left: 200px;
  }

  .button-style {
    padding: 2px 2px;
  }

  .icon-style {
    padding: 1px 1px;
  }

  .alert-container {
    font-size: smaller;
  }
}
