.parity-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-top: 30px;

  .up {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .down {
    display: flex;
    flex-direction: row;
    width: 100%;

    .right {
      width: 100%;

      .link {
        background-color: white;
        font-size: 20px;
        padding: 0;
        width: 576px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
      }

      .chart {
        padding: 0;
        width: 576px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
      }
    }
  }
}
