@import '~antd/dist/antd.css';

/* stylelint-disable */

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* stylelint-enable */

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.ant-form {
  max-width: 300px;
}
