@import '~antd/dist/antd.css';

/* stylelint-disable */
#root {
  height: 100%;
}
/* stylelint-enable */

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.ant-form {
  max-width: 300px;
}
