.social-container {
  margin: 20px 0;
  width: 80%;
  min-width: 600px;

  display: flex;
  flex-direction: column;
  justify-content: content;
  align-items: center;

  .tab-buttons {
    width: 400px;
    display: flex;
    justify-content: space-between;

    .ant-btn {
      width: 100%;
    }
  }
}
