.root-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .content {
    display: flex;
    justify-content: center;
    flex-grow: 1;

    background-color: #eee;

    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;
  }
}
