.article-list-container {
  .article-image {
    width: 200px;
    height: 200px;
  }

  .article-title {
    font-size: 16px;
    font-weight: 500px;
  }

  .article-content {
    font-size: 11px;

    min-width: 600x;

    max-width: 800px;
  }
}
