.article-list-container {
  width: 800px;

  .single-article {
    padding-bottom: 20px;
    display: flex;
    align-items: center;

    .article-image {
      width: 100px;
      height: 100px;

      margin-right: 5px;
      margin-left: 5px;
    }

    .article {
      height: 100px;
      overflow: hidden;

      .article-title {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 20px;
        font-size: 16px;
        font-weight: 500px;
      }

      .article-content {
        display: flex;
        font-size: 11px;
        height: 80px;
      }
    }
  }
}
