.login-container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;

  width: 300px;

  .tabs {
    display: flex;
    justify-content: space-between;

    padding-bottom: 20px;
  }
  .google-signin {
    text-align: center;
    display: flex;
    justify-content: center;
  }
}
