.currency-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 400px;

  border-radius: 1px;
  padding: 5px;

  font-family: Muli, Helvetica Neue, sans-serif;
  background-color: white;

  .currency-table-header {
    display: flex;
    justify-content: space-between;

    height: 30px;
    width: 390px;

    font-weight: 600;
    font-size: 14px;
  }

  .currency-table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: black;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: -1px;
    height: 60px;
    width: 390px;

    .parity {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .parity-symbols {
        font-weight: 500;

        &:hover {
          color: lightblue;
        }
      }

      .parity-names {
        font-weight: 400;
        color: #999;
        font-size: 0.8rem;
      }
    }

    .parity-ratio {
      font-size: 16px;
    }
  }

  .currency-table-footer {
    height: 20px;
    width: 300px;
  }
}
